header h1,
main article h2,
main article p {
    font-family: "Century Gothic"; /* Added semicolon */
    color: rgb(227, 240, 246); 
}

body {
    background-color: cornflowerblue;
    border: 6px solid white; 
    margin: 0; 
    padding: 2.5px; /* Added 'px' for padding */
    line-height: 1.6;
}
